<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KẹtXe24H - Giải pháp cho đường về nhà</title>
</head>

<body>
    <h1>Cảm ơn bạn đã đóng góp cho Kẹt Xe 24H !!!</h1>
    <h1>Đóng góp của bạn sẽ giúp ích cho rất nhiều người khác</h1>
</body>

</html>