<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <title>KẹtXe24H - Giải pháp cho đường về nhà</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text">Cảm ơn bạn đã đóng góp cho Kẹt Xe 24H !!!</h1>
            <h2 class="text">Đóng góp của bạn sẽ giúp ích cho rất nhiều người khác</h2>
        </div>
        <div class="text-center image">
            <img src="/logo/logo.png" class="img-fluid img-thumbnail" width="200" height="200" />
        </div>
    </div>
</body>

</html>