body {
  margin-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form {
  text-align: center;
}
form button{
  margin-top: 50px;
}
.image {
  margin-top: 30px;
}

.text{
  text-align: center
}

h1{
  color: blue
}

h2{
  color: blueviolet
}